# Binaries
**/bin/
bin-int/

# Files
*.user

# Lambda Log files
*.log

# Profile data files
Sandbox/LambdaProfile-Runtime.json
Sandbox/LambdaProfile-Startup.json
Sandbox/LambdaProfile-Shutdown.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

Lambda/vendor/GLFW
Lambda/vendor/imgui
