# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Files
*.user

# ImGui Temp file
SandBox/imgui.ini

# Lambda Log files
*.log

# Profile data files
Sandbox/LambdaProfile-Runtime.json
Sandbox/LambdaProfile-Startup.json
Sandbox/LambdaProfile-Shutdown.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user